
<style>

</style>
<h1>Cảm ơn bạn đã xác nhận đơn hàng</h1>
<h3>Cảm ơn {{name}} đã đặt hàng </h3>
<img style="width:100px;height:auto;border-radius:50%;"  id="image-bakery" src="https://image.shutterstock.com/z/stock-vector-sweet-dreams-236349394.jpg"/>
<a href="{{xacnhandonhang}}">Tiệm bánh Bakery mời bạn nhấn vào link này để xác nhận đơn hàng bạn đã đặt vào lúc  {{now}}</a>
           <table id="customers" style="border-collapse: collapse;width: 100%; ">
<tr    style="background-color: antiquewhite;text-align:left">
    <th>BakeryName</th>
    <th>Price</th>
    <th>Quality</th>
</tr>

{{noidung}}

               <tr style="    text-align: center;">
                   <td colspan="2"></td>
                   <td>Tong tien: {{Tongtien}}</td>
               </tr>
</table>

        