
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    @Styles.Render("~/Admin/css")
    @Scripts.Render("~/bundles/admin-js")

</head>

<body>

    <div class="page-container sidebar-collapsed">
        <div class="left-content">
            @{ Html.RenderAction("Header", "Admin");}
            <!--heder end here-->
            <!-- script-for sticky-nav -->
            <script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop();
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });

		});
            </script>
            <!-- /script-for sticky-nav -->
            <!--inner block start here-->
            @RenderBody()

            <!--inner block end here-->
            <!--copy rights start here-->
            <div class="copyrights">
                <p>© COPYRIGHT  <a href="" target="_blank"></a> </p>
            </div>
            <!--COPY rights end here-->
        </div>

        <!--slider menu-->
   @{Html.RenderAction("Menuadmin", "Admin");}
        <div class="clearfix"> </div>
    </div>
    <!--slide bar menu end here-->
    <script>
var toggle = true;

$(".sidebar-icon").click(function() {
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }
                toggle = !toggle;
            });
    </script>
  






</body>

</html>
