@model IEnumerable<DAL.Models.ImageModel>
<!-- Button HTML (to Trigger Modal) -->

<input type="hidden" name="nameimage" id="nameimage" />

<script>
    function clickimage() {
        alert('test')
        console.log($(this).data('id'));
        console.log($(this).attr('src'));
        $('#nameimage').val($(this).data('id'));
        $('#image-show').attr('src', $(this).attr('src'));
    }
    $(document).ready(function () {
        $('.image-picker-image').click(clickimage);
        function changeimagesgallery(data) {
            var listimage = data.images;
            $('#content-images').html('');
            var listimagehtml = '';
            $.each(listimage, function (index, value) {
                var html = "<img class='image-picker-image'   data-id='" + value.Id + "' style='width:30%;height:100px' src='/HinhAnh/" + value.nameImage + "'/ >";
                listimagehtml = listimagehtml + html;
            });
            $('#content-images').html(listimagehtml);
            $('.image-picker-image').click(clickimage);
        }


       
           $("#uploadbutton").click(function () {
                 var filename = document.getElementById('file').files[0];
                 console.log(filename);
                 if (filename.name == null) {
                     alert("please choose file");
                     return;
                 }
                 var data = new FormData();

                 data.append('file', filename);
                 $.ajax({
                     url: "/Admin/UploadImage",
                     data: data,
                     cache: false,
                     contentType: false,
                     processData: false,
                     method: "POST",
                     type: "POST",
                     
                     success: function (data) {
                         console.log(data);
                         changeimagesgallery(data);
                         alert("Data Uploaded: ");
                     }
                 });
             });
    });
  
  </script>

<a href="#myModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Open gallery-picker</a>

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body" id="content-images">
              @foreach (var item in Model)
              {

                  <img class="image-picker-image"  data-id="@item.Id"   style="width:30%;height:100px" src="~/HinhAnh/@item.nameImage" />
              }
            </div>
            <div class="modal-footer">
                <form enctype="multipart/form-data" method="post" action="/Admin/UploadImage" id="formdata">
                    <input type="file" id="file" name="file"  accept="image/*" />
                    <button type="button" id="uploadbutton" class="btn btn-danger">Uppload-Image</button>
                    </form>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
        </div>
    </div>
</div>