
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login">
    <div class="wrap">
        <h4 class="title">Shopping cart is empty</h4>
        <p class="cart">You have no items in your shopping cart.<br>Click @Html.ActionLink("here","Shop")to continue shopping</p>
    </div>
</div>

