@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";    
    ViewBag.Title = "Contact";
}
<table>
    <tr>
        <td>
            <h1>Your Name: </h1>
        </td>
        <td>
            <input type="text" size="30" />
        </td>
    </tr>
    <tr>
        <td>
            <h1>Your Mail: </h1>
        </td>
        <td>
            <input type="text" size="30" />
        </td>
    </tr>
    <tr>
        <td>
            <h1>Phone Number: </h1>
        </td>
        <td>
            <input type="text" size="30" />
        </td>
    </tr>
    <tr>
        <td>
            <h1>Message: </h1>
        </td>
        <td>
            <input type="text" size="30" />
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-info">Send</button>
        </td>
    </tr>
</table>