
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Html.RenderAction("Slider", "Home");

}

<!--main -->
<script>
    function clickitem(Id) {
        alert("Bạn vừa thêm bánh vào giỏ hàng");
        $.ajax({
            url: "/Home/AddItem",
            data: {

                id: Id

            },

            method: "POST",
            type: "POST",

            success: function (data) {
                console.log(data);
                changeimagesgallery(data);
                alert("Data Uploaded: ");
            }
        });
    }


</script>

<div class="main ">
    <br />
    <br />
  
    <div class="box1 col-md-9">
    
        <h3 style="text-align:center;color:darkorange;font-size:30px"> Sản Phẩm Mới </h3>
        @foreach (var item in Model)
        {
            <div class="col_1_of_single1 span_1_of_single1">
                <a>
                    <div class="view1 view-fifth1">
                        <div class="top_box">
                            <h3 class="m_1">@item.Name</h3>
                            <div class="grid_img">
                                @if (item.images != null) 
                                {
                                    
                                <div class="css3"><img src="~/HinhAnh/@item.images.nameImage" alt="" width="410" height="200"></div>
                                }
                                  <div class="mask1">
                                    <div class="info">@Html.ActionLink("Chi Tiết", "Details", new { id = @item.ID })</div>
                                </div>
                            </div>
                            <div class="price">Giá:@item.Price</div>
                        </div>
                    </div>
                
                </a><ul class="list2">
                    <a href="single.html">
                    </a>
                    <li>
                        <a href="single.html">
                            <img src="~/images/plus.png" alt="">
                        </a><ul class="icon1 sub-icon1 profile_img">
                            <li>
                                <a id="add_bag" onclick="clickitem('@item.ID')">Thêm Vào Giỏ Hàng</a><a class="active-icon c1" id=""></a>
                                
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>

        }
       

        <div class="clear"></div>
    </div>
    <div class="col-md-3">
        @{Html.RenderAction("Rate", "Home"); }

    </div>
</div>
