@model IEnumerable<DAL.Models.Category>
@using DAL.Models
<script type="text/javascript" src="~/Scripts/jquery.jscrollpane.min.js"></script>

<script type="text/javascript" id="sourcecode">
    $(function () {
        2
        $('.scroll-pane').jScrollPane();
    });
</script>
<style>
    .col.col-4 {
        display: inline-grid;
    }
</style>
<div style="text-align:left">
    <section class="sky-form">
        <h4 style="margin-left:-30px;color:#FF0033;font-size:large">Lựa Chọn Theo Loại Bánh</h4>
        <div class="col col-4" style="font-size:20px">
            @foreach (var item in Model)
            {
                @Html.ActionLink(@item.Name, "Shop")
            }
        </div>
        </section>
</div>