@model DAL.Models.BakeryUser

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout-admin.cshtml";
}

<style>
    h2 {
        margin: 30px;
    }
    #image-show{
          background-color:#fff;
    border:1px solid red;    
    height:100px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;

    }
</style>
<div style="margin-left:120px;margin-top:100px;">
    <h2>Information user</h2>
    <div class="col-md-4">
        <form method="post" action="/AccountManager/Index" >
            @{ if (Model.representImage == null)
                {
                    <img src="/HinhAnh/abc.jpg" id="image-show" />
                }
                else
                {
                <img src = "/HinhAnh/@Model.representImage.nameImage" id="image-show" />
                }
            }
            <input type="submit" formmethod="post" class="btn btn-danger" value="Hoàn thành">
            @{ Html.RenderAction("GalleryPicker", "Admin");}
           
        </form>
    </div>

    <div class="col-md-8">
        <h4>BakeryUser</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

           

         

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

        </dl>
    </div>
    <p>
      

    </p>


</div>